.navbar ul{
    list-style-type:none;
    background-color:rgb(152, 48, 166);
    padding:0px;
    margin:0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:block;
    text-align:center;
}
.navbar a:hover{
    background-color:rgb(174, 54, 190)
}
.navbar li{
    float:left;
}